@import url('https://fonts.googleapis.com/css2?family=Signika:wght@300;400;500;600;700&display=swap');
.slide-out-left {
  animation: slideOutLeft 0.8s ease-out forwards;
}

@keyframes fade-anim {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}

.fade-anim {
  animation-name: fade-anim;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes slideOutLeft {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.slide-in-left {
  animation: slideInLeft 0.8s ease-out forwards;
}

@keyframes slideInLeft {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

.slide-out-right {
  animation: slideOutRight 0.8s ease-out forwards;
}

@keyframes slideOutRight {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}

.slide-in-right {
  animation: slideInRight 0.8s ease-out forwards;
}

@keyframes slideInRight {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color:#FDFFFC !important;
  transition: background-color 5000s ease-in-out 0s;
}


@tailwind base;
@tailwind components;
@tailwind utilities;